@model MovieMVCApp.Models.Movie

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Index"> <!-- asp-action="Index"-->
            
            <!-- Alle Fehlermeldungen werden gebündel angezeigt-->
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
                <!-- Fehlermeldungen werden unterhalb der Eingabe angezeigt-->
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreType" class="control-label"></label>
                @*<select asp-for="GenreType" class="form-control"></select>*@

                <select class="form-control" asp-for="GenreType" asp-items="Html.GetEnumSelectList<Genre>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="GenreType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMDBRating" class="control-label"></label>
                <input asp-for="IMDBRating" class="form-control" />
                <span asp-validation-for="IMDBRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-action="Create" type="submit" value="Create" class="btn btn-primary" />
                <input asp-action="RandomCreate" type="submit" value="RandomCreate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
