@model IEnumerable<MovieStoreSample.Models.Movie>

@{ 
    Movie movieWithLowestPrice = null;

    if (Model.Any())
    {
        movieWithLowestPrice = Model.OrderBy(o => o.Price).First();
    }
}


@if (movieWithLowestPrice != null)
{
    <p>Sonderangebot</p>
    <div class="card" style="background-color: darkorange">
        <div class="card-body">
            <p>@movieWithLowestPrice.Title</p>
            <p>@movieWithLowestPrice.Price</p>
        </div>
    </div>
}
else
{
     <p>Aktuell kein Sonderangebot. Entweder wird der Filter verwendet oder es gibt keine Movies in der DB</p>
}


