@using RazorSamples.TagHelpers;

@{
    ViewData["Title"] = "ShowTagHelperSample";
}

<h1>ShowTagHelperSample</h1>



@Html.HelloWorldHTMLString()
@Html.HelloWorldString()
@Html.HelloWorld("Kevin")


