
@{
    ViewData["Title"] = "TempDataSecondSample";
    string email = TempData["EmailAddress"].ToString(); //Wenn man hier die Daten abrufen = 1x benutzung = danach wird Eintrag in TempData gelöscht
    string id = TempData["Id"].ToString();
    //TempData.Keep();

}

<h1>TempDataSecondSample</h1>

<p>@email</p>
<p>@id</p>